.mytitle {
    text-align: center;
    color: black;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    font-size: 40px;
}

#mytitle {
    width: 90%;
    height: 4px;
    background-color: rgb(4, 33, 66);
    display: table;
    margin: 0 auto;
    margin-top: 10px;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../image/歷史背景.jpg);
}

#history_title{
    padding: 30px;
    width: auto;
    font-size: 30px;
    line-height: 40px;
    box-shadow: 10px 0px 30px 0px black;
}

#history_text{
    padding: 30px;
    width: auto;
    font-size: 25px;
    line-height: 40px;
}

.v1, .v2, .v3, .v4{
    justify-content: left;
    flex-flow: row wrap;
    box-shadow: 10px 15px 30px 0px black
}

.v1{
    margin-top: 50px;
    background-image: url(../image/blockback-yellow.jpg);
    background-position: center;
}

.v2{
    margin-top: 50px;
    background-image: url(../image/blockback-blue.jpg);
    background-position: center;
}

.v3{
    margin-top: 50px;
    background-image: url(../image/blockback-green.jpg);
    background-position: center;
}

.v4{
    margin-top: 50px;
    background-image: url(../image/blockback-pink.jpg);
    background-position: center;
}

#history_font{
    padding: 30px;
    width: auto;
    font-size: 25px;
    line-height: 40px;
    font-family: 標楷體; 
}