img {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: unset;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}

.soptions {
    width: 100px;
    height: 46px;
    background-color: white;
    color: black;
    text-align: center;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    transition: background-color 0.25s;
    padding: 10px;
}